<% provide :title, t("title_about") %>
<h1><%= t("title_about") %></h1>
<p><%= raw t("about_text",
  link_rails_about: link_to(t("link_rails_tutorial_text"), Settings.href_railstutorial),
  link_rails_book: link_to(t("link_rails_book_text"), Settings.href_railstutorial_book),
  link_rails_screencasts: link_to(t("link_rails_screencasts_text"), Settings.href_railstutorial_screencasts),
  link_rails: link_to(t("link_rails_text"), Settings.href_rubyonrails)) %></p>
