<% provide :title, t(".title_help") %>
<h1><%= t ".title_help" %></h1>
<p><%= raw t(".rails_book_text",
  link_help: link_to(t(".rails_help_section"), Settings.href_railstutorial_help),
  link_book: link_to(t(".rails_help_book"), Settings.href_railstutorial_book)) %></p>
